# vim: set ft=dosini :

[user]
  email = parvus.mortalis@gmail.com
  name = Nolan Prochnau

[core]
  editor = nvim
  pager = less
  excludesfile = ~/.gitignore1

[alias]
  hist = log --pretty=format:\"%C(green)%h %C(yellow)%ad %C(blue)[%cn]%C(red)%d %C(reset)%s\" --decorate --date=short
  last = "!f() { export GIT_PAGER=''; git log -1 --show-signature; }; f"
