[user]
  email = parvus.mortalis@gmail.com
  name = Nolan Prochnau

[core]
  editor = nvim

; [commit]
;   gpgsign = true

[alias]
# Show the history
  hist = log --pretty=format:\"%C(green)%h %C(yellow)%ad %C(blue)[%cn]%C(red)%d %C(reset)%s\" --decorate --date=short
# Show the last commit
  last = log -1 --show-signature

[diff]
  tool = vimdiff3

[difftool "vimdiff3"]
  path = nvim

[merge]
  tool = vimdiff3

[mergetool "vimdiff3"]
  path = nvim

# vim: set ft=dosini :
