# vim: noexpandtab :

[submodule "zsh/fsh"]
	path = zsh/.config/zsh/plugs/fsh
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugs/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/vim-cool"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "vim/vim-obsession"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim/vim-eunuch"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/vim-unimpaired"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/vim-rsi"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "vim/goyo.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/limelight.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "vim/vim-tmux-navigator"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/vim-fugitive"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim-dispatch"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/vim-cpp-modern"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "vim/sxhkd-vim"]
	path = nvim/.config/nvim/pack/bundle/opt/sxhkd-vim
	url = https://github.com/kovetskiy/sxhkd-vim
[submodule "vim/vim-ledger"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vim/vim-commentary"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/vim-endwise"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/vim-ragtag"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "vim/vim-surround"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim-rails"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/vim-rspec"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec
[submodule "vim/vim-bundler"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/SimpylFold"]
	path = nvim/.config/nvim/pack/bundle/opt/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "vim/vim-python-pep8-indent"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-python-pep8-indent
	url = https://github.com/vimjas/vim-python-pep8-indent
[submodule "vim/vim-dirvish"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim/vim-projectionist"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "vim/vim-pathogen"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/loupe"]
	path = nvim/.config/nvim/pack/bundle/opt/loupe
	url = https://github.com/wincent/loupe
[submodule "vim/nvim-lsp"]
	path = nvim/.config/nvim/pack/bundle/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lspconfig
[submodule "vim/vim-repeat"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/nlua.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/nlua.nvim
	url = https://github.com/tjdevries/nlua.nvim
[submodule "vim/nvim-treesitter"]
	path = nvim/.config/nvim/pack/bundle/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/plenary.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/popup.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "vim/telescope.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "vim/vim-javascript"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/vim-scriptease"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "vim/vim-dadbod"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "vim/vim-closer"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-closer
	url = https://github.com/parmort/vim-closer
[submodule "vim/deoplete.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/deoplete.nvim
	url = https://github.com/shougo/deoplete.nvim
[submodule "vim/deoplete-lsp"]
	path = nvim/.config/nvim/pack/bundle/opt/deoplete-lsp
	url = https://github.com/shougo/deoplete-lsp
[submodule "bspwm/swallow"]
	path = bspwm/.config/bspwm/swallow
	url = https://github.com/JopStro/bspswallow.git
[submodule "vim/seoul256.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "vim/vimtex"]
	path = nvim/.config/nvim/pack/bundle/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule "rofi/rofi-bluetooth"]
	path = rofi/.config/rofi/scripts/rofi-bluetooth
	url = git@github.com:parmort/rofi-bluetooth
[submodule "nvim/.config/nvim/pack/bundle/opt/markdown-preview.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/nord-vim"]
	path = nvim/.config/nvim/pack/bundle/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "zsh/.config/zsh/plugs/spaceship-prompt"]
	path = zsh/.config/zsh/plugs/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.config/zsh/plugs/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugs/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "nvim/.config/nvim/pack/bundle/opt/obsidian.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/obsidian.nvim
	url = https://github.com/epwalsh/obsidian.nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/neodev.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/neodev.nvim
	url = https://github.com/folke/neodev.nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/trouble.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/trouble.nvim
	url = https://github.com/folke/trouble.nvim
