snippet rc "Ruby Code"
<% $0 %>
endsnippet

snippet ro "Ruby Code with Output"
<%= $0 %>
endsnippet

snippet end "ERB End"
<% end %>
endsnippet

snippet form_with "Form"
<%= form_with model: $1 do |form| %>
$0
<% end %>
endsnippet

snippet ffield "Form field"
<%= form.label :${2} %>
<%= form.$1 :$2 %>
endsnippet

snippet fsubmit "Form submit"
<%= form.submit %>
endsnippet
