snippet temp "Complete vue template"
$0<template>
  <div>
  </div>
</template>

<script>
export default {}
</script>

<style scoped></style>
endsnippet

snippet link "Router Link"
<router-link to="$1">$2</router-link>$0
endsnippet
