! Just comment out current scheme and add a new line for a new scheme
#include ".Xresources.d/mtntop.xrdb"

! st.St.font: mono:pixelsize=13:antialias=true:autohint=true
*.font: mono:pixelsize=13:antialias=true:autohint=true
*.alpha: 255
